.main{
    padding:1em 2em;
    width:100%;
    display: flex;
    flex-direction: column;
}

.header{
    padding:1em 2em;
    width:100%;
    border-bottom: 1px solid var(--back-blue);
    font-size: 1.4em;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
}

.header>div{
    font-size: 1.4em;
    font-weight: 900;
}

.box{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2em;
    height:100%;
    padding:2em 0;
}

.group_item{
    padding:1.7em 5em;
    background-color: white;
    border-radius: 8px;
    text-decoration: none;
    width:280px;
    height:190px;
    transition: all linear .1s;
}

.group_item:hover{
    border: 2px solid  var(--back-blue);
    width:278px;
    height:188px;
}

.group_image{
    width: 95px;
    height: 95px;
}

.name{
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 500;
}

.create{
    cursor: pointer;
    border: 2px solid var(--back-blue);
    font-size: 1rem;
    text-decoration: none;
    outline: none;
    border-radius: 3px;
    transition: all linear .1s;
    text-align: end;
    padding: .3em 1em 0 ;
}

.create:hover{
    color: var(--text-color);
    background-color: var(--open-blue);
}

.users{
    
}

.no_group{
    font-size: 1.2rem;
}