.back{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    text-align: center;
}

.box{
    margin: auto;
    margin-top: 5em;
    width: 50%;
    padding: 5em 2em;
    background-color: white;
    border-radius: 1em;
}

.box>h2{
    font-size: 1.7rem;
    margin-bottom: .5em;
}

.form{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.form>input{
    width: 15em;
    display: block;
    margin: auto;
    margin-bottom: 1.5em;
    font-size: 1.2rem;
    padding: .2em;
    border-radius: .2em;
    transition: width linear .2s;
}


.form>textarea{
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 1.5em;
    font-size: 1.2rem;
    padding: .2em;
    border-radius: .2em;
    transition: width linear .2s;
}

.form>input:focus{
    width: 16em;
}


.buttons{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    width: 18em;
}

.warning{
    color:red;
    font-weight: bold;
    margin-bottom: .5em;
}