*{
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  color: var(--back-blue);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.btn{
  cursor: pointer;
  border: 0;
  color: white;
  padding: .8em;
  font-size: 1rem;
  border-radius: .5em;
}

.btn:focus{
  outline: 0;
}

.btn-accept{
  background-color: rgb(243, 236, 236);
  box-shadow: 0 .4em rgb(158, 152, 152);
  text-shadow: 1px 1px var(--back-blue);
  color: var(--back-blue);
}

.btn-accept:active{
  background-color: rgb(231, 223, 223);
  transform: translateY(.1em);
  box-shadow: 0 .3em rgb(121, 116, 116);
}

.btn-reject{
  background-color: var(--open-blue);
  color: white;
  box-shadow: 0 .4em var(--back-blue);
  text-shadow: 1px 1px  var(--open-blue);
}

.btn-reject:active{
  background-color:  #2d4b80;
  transform: translateY(.1em);
  box-shadow: 0 .3em  #353f50;
}

.new{
  background-color: green;
}



.main{
  display: flex;
  min-height: 100vh;
}

.main *+*{
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}